:root {
  --primary--color:wheat;
  --secondary--color:#7F4F24;
  --text--color:#582F0E;
  --green--accent:#C2C5AA;
  --dark--green:#333D29;
  --background--color: white;
}

:root {
  --primary--color:wheat;
  --secondary--color:#7F4F24;
  --text--color:#582F0E;
  --green--accent:#C2C5AA;
  --dark--green:#333D29;
  --background--color: white;
}

body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: var(--text--color);
  background-color: var(--background--color);
}

P {
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#gallery {
  max-width: 1000px;
}

.nBar {
  padding-top: 0;
  padding-bottom: 0;
}
.nBar a {
  padding-right: 1em;
}

section {
  max-width: 70%;
}

#section-A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: absolute;
  top: 35%;
}

#section-C {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: red;
}

.background {
  position: relative;
  background-image: url(./background.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#out {
  height: 60vh;
  position: relative;
}

.box {
  background-color: var(--primary--color);
  border: solid 1px var(--secondary--color);
  color: var(--text--color);
  box-shadow: 10px 5px 5px var(--secondary--color);
  opacity: 0.8;
}
.box button:hover {
  background-color: var(--dark--green);
  border: solid 1px var(--dark--green);
  color: var(--green--accent);
}

.padd {
  padding: 3em;
}

.paddT {
  padding: 3em 0;
}

.logo {
  width: 200px;
  text-align: center;
  color: var(--text--color);
  font-weight: 300;
  font-size: 2em;
  z-index: 3;
  position: relative;
  top: 10px;
  padding: 0.7em;
}

.out {
  position: absolute;
  bottom: 30%;
  width: 70vw;
  text-align: justify;
  opacity: 1;
}

.Btn {
  z-index: 3;
  font-weight: 500;
  font-size: 1.5em;
  padding: 0.8em;
}
.Btn:hover {
  background-color: var(--dark--green);
  border: solid 1px var(--dark--green);
  color: var(--green--accent);
}
.Btn:active, .Btn:focus {
  border-color: var(--dark--green);
}

#outBtn {
  position: absolute;
  bottom: 22%;
}

.intro {
  width: 70vw;
  text-align: justify;
  opacity: 1;
}

#introBtn {
  position: relative;
  top: -20px;
}

#section-B {
  max-width: 100%;
}

.card {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.myCard {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cardImg {
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardBtn {
  align-items: center;
  position: relative;
  top: -15px;
  left: 20%;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: absolute;
  top: 40%;
}

.pageTitle {
  padding: 1em;
  font-size: 2rem;
  position: relative;
  top: 20px;
  z-index: 5;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fBar a {
  padding: 0.3em 0.8em;
}

a {
  text-decoration: none;
  font-weight: 200;
  line-height: 1.2em;
  color: var(--text--color);
  padding: 0.1em;
}
a:hover {
  color: var(--dark--green);
}
a:active {
  border-color: var(--dark--green);
}

.socialM {
  font-size: 2.5em;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.map {
  height: 55vh;
  width: 45vw;
}

ul {
  position: relative;
  left: 40px;
  z-index: 5;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.8em;
  list-style: none;
  border-bottom: 0.5px solid var(--dark--green);
}

.galItem {
  max-width: 840px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.galItem .galDesc {
  width: 100%;
  padding: 2em;
  position: relative;
  left: -80px;
}
.galItem .galDesc h4 {
  float: right;
}
.galItem .galImg {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.galItem:nth-child(even) {
  flex-direction: row-reverse;
}
.galItem:nth-child(even) .galDesc {
  left: 100px;
}

@media screen and (max-width: 990px) {
  ul {
    left: 15px;
  }

  .map {
    height: 60vh;
    width: 45vw;
  }

  #section-B {
    max-width: 100%;
  }

  .card {
    width: 80vw;
    margin: 10px;
  }

  .myCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .myCard .cardDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .myCard .cardBtn {
    top: -10px;
    left: 0px;
  }
  .myCard .card-text {
    max-width: 70%;
  }
}
@media screen and (max-width: 830px) {
  #section-A {
    top: 25%;
  }

  #section-B {
    max-width: 100%;
  }

  .card {
    width: 80vw;
    margin: 10px;
  }

  .myCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .myCard .cardDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .myCard .cardBtn {
    top: -10px;
    left: 0px;
  }
  .myCard .card-text {
    max-width: 90%;
  }

  #out {
    height: 100vh;
  }
}
@media screen and (max-width: 755px) {
  .galItem {
    max-width: 500px;
    overflow: hidden;
  }
  .galItem .galDesc {
    width: 80%;
    top: -65px;
  }
  .galItem .galImg {
    width: 80vw;
  }
}
@media screen and (max-width: 675px) {
  #section-A {
    top: 15%;
  }

  #Section-B {
    max-width: 100%;
  }

  #cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .myCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #page {
    top: 15%;
  }

  .galItem {
    max-width: 500px;
  }
  .galItem .galDesc {
    width: 80%;
    left: 55px;
    top: -65px;
  }
  .galItem .galImg {
    width: 90vw;
  }
  .galItem:nth-child(even) .galDesc {
    left: 0px;
  }
}/*# sourceMappingURL=style.css.map */