@import './variables.scss';
@import './mixins.scss';
@import './base.scss';

.container {
    @include FlexCenter(row);
}

.nBar{
    padding-top: 0;
    padding-bottom: 0;
}
section {
    max-width: 70%;
}

#section-A {
    @include FlexCenter(column);
    background: transparent;
    position: absolute;
    top: 40%;
}

#section-C {
    @include FlexCenter(column);
    background: red;

}


.background {
    position: relative;
    background-image: url(./background.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#out {
    height: 60vh;
    position: relative;
}

.box {
    background-color: var(--primary--color);
    border: solid 1px var(--secondary--color);
    color: var(--text--color);
    box-shadow: 10px 5px 5px var(--secondary--color);
    opacity: 0.8;
    button:hover {
        background-color: var(--dark--green);
        border: solid 1px var(--dark--green);
        color: var(--green--accent);        
    }
}

.padd {
    padding: 3em;
}

.paddT{
    padding: 3em 0;
}
.logo {
    width: 200px;
    text-align: center;
    color: var(--text--color);
    font-weight: 300;
    font-size: 2em;
    z-index: 3;
    position: relative;
    top: 10px;
    padding: 0.7em;
}

.out {
    position: absolute;
    bottom: 40%;
    width: 70vw;
    text-align: justify;
    opacity: 1;
}

.Btn {
    z-index: 3;
    font-weight: 500;
    font-size:1.5em;
    padding:0.8em;    
    &:hover {
        background-color: var(--dark--green);
        border: solid 1px var(--dark--green);
        color: var(--green--accent);        
    }
}

#outBtn {
    position: absolute;
    bottom: 35%;
}


.intro {
    width: 70vw;
    text-align: justify;
    opacity: 1;

}

#introBtn {
    position: relative;
    top: -20px;
}


// Card styles

#section-B {
    max-width: 90%;
    //@include FlexCenter(row);
    
}

.myCard {
    width: 20vw;
    // display: inline-block;
    margin: 10px;
    @include FlexCenter(row);
}

.cardImg {
    max-width: 300px;
    object-fit: cover;
}

.cardBtn {
    align-items: center;
    position: relative;
    top: -15px;
    left: 20%;
    
}
// Footer styles

footer {
    @include FlexCenter(column);
}

a {
    text-decoration:none;
    font-weight: 200;
    line-height: 1.2em;
    color: var(--text--color);
    padding: 0.3em 0.8em;
    &:hover {
        color: var(--dark--green);

    }
}

.socialM {
    font-size: 2.5em;
    // position:relative;
    // top:-0.5em;
    // text-shadow: 10px 5px 5px var(--secondary--color);
}

// Contact Page 

.contact {
    @include FlexCenter(row);
}

ul{
    position: relative;
    left: 40px;
    z-index:5;
    margin: 0;
    padding:0;
}

li{
    padding: 0.8em;
    list-style: none;
    border-bottom: 0.5px solid var(--dark--green);
}

// Gallery

// .gallery {

// }
.galItem {
    background: transparent;
    @include FlexCenter(row);
    z-index: 10;
    .galDesc{
        width:70%;
        padding: 2em;
        position: relative;
        left:-60px;
        h4{
            float: right;
        }
    }

    .galImg {
        width: 400px;
        object-fit: cover;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        .galDesc{
            left: 160px;    
        }
    }
}

@import './madiaQueries.scss'; 