:root {
  // Version 1
    // --primary--color:#A68A64;
    // --secondary--color:#7F4F24;
    // --text--color:#582F0E;
    // --green--accent:#C2C5AA;
    // --dark--green:#333D29;

    //Version content: 
    --primary--color:wheat;
    --secondary--color:#7F4F24;
    --text--color:#582F0E;
    --green--accent:#C2C5AA;
    --dark--green:#333D29;
    --background--color: white;

  }